.add_heading{
    width:100%;
    display: flex;
    justify-content: center;
    background-color: gainsboro;
    padding: 5px 0px 5px 0px;
}

.col-md-12 button{
        width: 96%;
        margin-left: 2%;
}


#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }


td{
    word-break:break;
    
  }