@model scert_upMVC.Models.manage_otherEduContent
@{
    ViewBag.Title = "add_OtherEduContent";
    Layout = "~/Views/Shared/admin_mst.cshtml";
}


<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <!-- for change area -->
                    <h3 class="add_heading">Add Educational Content   </h3>
                    <div class="page-wrapper" style="background-color: white;">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Select Course</label>
                            <div class="col-sm-10">
                                <select name="Course" class="form-control">
                                    <option value="Training Module">Training Module</option>
                                    <option value="Research">Research</option>
                                    <option value="Survey">Survey</option>
                                    <option value="Other">Other</option>

                                </select>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"> Subject</label> <br>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Enter  Subject..." name="Subject" value="@Model.Subject">
                            </div>
                        </div>



                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Upload PDF File</label> <br>
                            <div class="col-sm-10">
                                <input type="file" class="form-control" name="File_Name">
                            </div>
                        </div>



                        <div class="row m-t-30">
                            <div class="col-md-12">

                                <input type="hidden" name="id" value="@Model.id" />
                                <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Submit</button>
                            </div>
                        </div>

                    </div>
                    <!-- for change area end  -->
                </div>
            </div>

            <div id="styleSelector">

            </div>
        </div>
    </div>
</div>
