
@{
    ViewBag.Title = "faculty_view";
    Layout = "~/Views/Shared/admin_mst.cshtml";
}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <!-- for change area -->
                    <h3 class="add_heading">List Of Faculty </h3>

                    <div class="card">

                        <div class="card-block table-border-style" id="myTable">
                            <div class="table-responsive">
                                <table id="myTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Course</th>
                                            <th>Subject</th>
                                            <th>File Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">D.EL.ED</th>
                                            <td>BTC Curriculum 2014</td>
                                            <td>abcmcid.pdf</td>
                                            <td>
                                                <a href="#">Edit</a> |
                                                <a href="#">Delete</a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <!-- for change area  end-->
                </div>

            </div>

            <div id="styleSelector">

            </div>
        </div>
    </div>
</div>

