/*@charset "utf-8";
*/

@font-face {
	font-family: 'oswald_regularregular';
	src: url('../fonts/oswald-regular-webfont.eot');
	src: url('../fonts/oswald-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),  url('../fonts/oswald-regular-webfont.woff2') format('woff2'),  url('../fonts/oswald-regular-webfont.woff') format('woff'),  url('../fonts/oswald-regular-webfont.ttf') format('truetype'),  url('../fonts/oswald-regular-webfont.svg#oswald_regularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ralewayregular';
	src: url('../fonts/raleway-regular_0-webfont.eot');
	src: url('../fonts/raleway-regular_0-webfontd41d.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-regular_0-webfont.woff2') format('woff2'), url('../fonts/raleway-regular_0-webfont.woff') format('woff'), url('../fonts/raleway-regular_0-webfont.ttf') format('truetype'), url('../fonts/raleway-regular_0-webfont.svg#ralewayregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotolight';
	src: url('../fonts/roboto-light-webfont.eot');
	src: url('../fonts/roboto-light-webfontd41d.eot?#iefix') format('embedded-opentype'),  url('../fonts/roboto-light-webfont.woff2') format('woff2'),  url('../fonts/roboto-light-webfont.woff') format('woff'),  url('../fonts/roboto-light-webfont.ttf') format('truetype'),  url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotoregular';
	src: url('../fonts/roboto-regular-webfont.eot');
	src: url('../fonts/roboto-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),  url('../fonts/roboto-regular-webfont.woff2') format('woff2'),  url('../fonts/roboto-regular-webfont.woff') format('woff'),  url('../fonts/roboto-regular-webfont.ttf') format('truetype'),  url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.pwdFxd {
    position: fixed !important;
    top: 0;
    width: 100%;
}
#tbl tr td{word-wrap: break-word !important;}
.contact {
    position: relative;
}
.contact h5 {
    border-bottom: 1px solid rgba(9, 9, 9, 0.17);
    color: #162b40;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 0;
    padding-bottom: 5px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
}
.contact ul {
    list-style-type: none;
    padding-left: 0;
}
.contact .contact-info li {
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 15px;
}
.contact .contact-info li i {
    font-size: 25px;
    font-weight: 700;
    margin-right: 20px;
    vertical-align: middle;
}
address {
    background-color: #202c45;
    color: #fff;
    margin-bottom: 7px;
    padding: 10px;
}
address strong {
    display: block;
    font-size: 17px;
    margin-bottom: 5px;
}
address i {
    color: #0cd1ef;
    margin-right: 5px;
}
address span {
    display: block;
}
.container-bg{ background-color:#fff;  margin-top:0px; padding:20px 13px;}
.logo-bg {
    padding: 6px 5px 2px 5px;
    background-color: #fdf7f0d4;
}

.t-menu{ background-color:#bf231f;}
.l-d{ padding-right:0px;}

.up-logo{ float:right;}
.body{ margin:0 auto; padding:12px;}
.top-bar{overflow:hidden; margin:0 auto;}
.border{ border:1px solid #d4d4d4;}
.main-lead{ padding-right:0px;}
.leaders{ background-color:#ffffff; padding:4px 5px; margin-bottom:2px;}
.leaders h3{ font-family:oswald_regularregular; font-size:17px; color:#0B567E; margin:5px 0px;}
.leaders span{ font-size:14px; font-style:italic; color:#454444; display:block;}
.leaders p{font-size:11.5px; color:#454444; display:block; font-family:robotoregular;}
.border-bottom{ margin:10px 0px; padding:0px; border-bottom:1px solid #CCC;}
.left-link{ background-color:#35be7a; margin:2px 0px; padding:7px 10px; color:#fff;}
.left-link i{ font-size:20px;}
.left-link span{ font-size:16px; padding-left:7px;}

.left-link-r{ background-color:#0da7da; margin:2px 0px; padding:7px 10px; color:#fff;}
.left-link-r i{ font-size:20px;}
.left-link-r span{ font-size:17px; padding-left:7px;}
.hours_links li a:hover {
    color: #FFC107;
    margin-left: 8px;
    text-decoration: none;
}
.a-btn {
    background-color:#323a56;
    color: #FFF;
    border-radius: 0px;
    border: none;
    border-radius: 7px !important;
}
.about-main{ padding-left:0px;}
.about{ padding:0px 0px;
    min-height:290px;}
.about h2 {
    font-family: oswald_regularregular;
    font-size: 22px;
    color: #010101;
    margin: 0px 0px;
    background-color: #ffffff;
    padding: 8px;
}
.about p{ padding:5px 10px; margin-bottom:5px;}
.news .panel {
    border: 0 none;
}
.news {
    position: relative;
	border-top:5px solid #22bcef;
}
.news .panel-warning > .panel-heading {
    /* background-color:#E4E4E4; */
    color: #000;
    font-size: 17px;
    height: auto;
    overflow: hidden;
	font-family:ralewayregular;
}
.play-pause {
    float: right;
    font-size: 12px;
}
.news-panel {
    height:320px;
    list-style: outside none none;
    margin: 0;
    overflow: hidden !important;
    padding: 0;
}
.arw {
    color: #bc3c3d;
    padding-right: 10px;
}
.dtype {
    color: #0e73b6;
    padding-left: 10px;
}
.ndate {
    color: #8a6d3b;
    padding-bottom: 5px;
}
.news-item {
    border-bottom: 1px solid #e4e4e4;
    margin: 0;
    padding: 0 10px;
}
.panel-body{ padding:10px 5px;}
.news-item p {
    margin: 4px 0;
}
.news-panel .arw {
    color: #0c085f;
    display: none;
    padding-right: 10px;
}
.news-panel .adtext {
    color: #000;
    display: inline-block;
    padding-top: 10px;
	font-size:13px;
}
.news-panel .ndate {
    color: #5f5f5f;
    display: block;
	font-size:12px;
}
.news-panel .ndate::before {
    color: #950000;
    content: "";
    font-family: "FontAwesome";
    padding-right: 2px;
}
.news-panel .dtype {
    color: #1e69a2;
    display: block;
    padding-left: 0;
}
.news-panel .fa-file-pdf-o {
    display: none;
}
.news-panel .dsize {
    color: #1e69a2;
    display: block;
}
.news-panel .dsize::before {
    color: #1e69a2;
    content: "";
    font-family: "FontAwesome";
    padding-right: 2px;
}
.ticker li::before {
    position: absolute;
    z-index: 0;
}
.news-item a::before {
    color: #000;
    content: "";
    font-family: "FontAwesome";
    margin-left: -10px;
    margin-right: 5px;
    margin-top: 2px;
    position: relative;
    z-index: 0;
}

.notice{ 
	    background-image: linear-gradient(to right,#f1634f,#ff9231);
    color: #fff;
    font-family: oswald_regularregular;
    text-align: center;
    padding: 4px;
    font-size: 19px;
    letter-spacing: 1px;
	}
.ticker_to marquee{ padding:7px;}
.ticker_to {
    background-color: #fcf8e3;
    border-top: 1px dashed #ffffff;
    /* border-bottom: 1px dashed #0B567E; */
    color: #000;
    float: left;
    text-decoration: none;
    width: 100%;
}
.ticker_to a {
    color: #000;
    text-decoration: none;
}
.ticker_to a:hover {
    color: #000;
    text-decoration: underline;
}
/*=================== START TOP MENU =======================*/
.t-menu {
       background-image: linear-gradient(to right,#f1634f,#ff9231);
    position: sticky;
    top: 27px;
    z-index: 999;
}
#cssmenu {
  position: relative;
  height: 44px;
      background-image: linear-gradient(to right,#f1634f,#ff9231);
  width: auto;
}
#cssmenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}
#cssmenu > ul {
  position: relative;
  display: block;
  width: 100%;
  z-index: 500;
}
#cssmenu > ul > li {
  display: block;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
#cssmenu > ul > #menu-button {
  display: none;
}
#cssmenu ul li a {
  display: block;
  font-family:robotolight;
  text-decoration: none;
}
#cssmenu > ul > li > a {
  font-size: 14px;
  font-weight:normal;
  padding:15px 20px;
  color: #fff;
  /*transform:translateX(0%) translateY(-0%) skewX(10deg);*/
  text-transform: uppercase;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}
#cssmenu > ul > li:hover > a {
    color: #bf231f;
    background-color:#fbfbfb;
}
#cssmenu li.has-sub::after {
  display: block;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}
#cssmenu > ul > li.has-sub::after {
  right: 10px;
  top: 21px;
  border: 5px solid transparent;
  border-top-color: #fff;
}
#cssmenu > ul > li:hover::after {
  border-top-color: #f1f1f1;
}
#indicatorContainer {
  position: absolute;
  height: 12px;
  width: 100%;
  bottom: 0px;
  overflow: hidden;
  z-index: -1;
}
#pIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  z-index: -2;
  -webkit-transition: left .25s ease;
  -moz-transition: left .25s ease;
  -ms-transition: left .25s ease;
  -o-transition: left .25s ease;
  transition: left .25s ease;
}
#cIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  top: -12px;
  right: 100%;
  z-index: -2;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  top: 70px;
  opacity: 0;
  -webkit-transition: opacity .3s ease, top .25s ease;
  -moz-transition: opacity .3s ease, top .25s ease;
  -ms-transition: opacity .3s ease, top .25s ease;
  -o-transition: opacity .3s ease, top .25s ease;
  transition: opacity .3s ease, top .25s ease;
  z-index: 1000;
}
#cssmenu ul ul ul {
  top: 37px;
  padding-left: 5px;
}
#cssmenu ul ul li {
  position: relative;
}
#cssmenu > ul > li:hover > ul {
  left: auto;
  top:44px;
  opacity: 1;
  border-bottom:3px solid #fb8638;
}
#cssmenu ul ul li:hover > ul {
  left:250px;
  top: 0;
  opacity: 1;
  border-bottom:3px solid #0B567E;
}
#cssmenu ul ul li a {
  background: #fffffffa none repeat scroll 0 0;
    border-bottom: 1px solid #ddd;
    color: #000;
    font-size: 14px;
    font-weight: 300;
    padding: 13px 15px;
    transition: all 0.35s ease 0s;
    width: 250px;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}
#cssmenu ul ul li:hover > a {
  background:#fb8638;
  color:#fff;
}
.our-link {
    text-transform: uppercase;
    font-size: 19px;
}
.btn-primary {
    color: #fff;
    background-color: #35be7a;
    border-color: #35be7a;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last > a {
  border-bottom: 0;
}
.submenuArrow {
  border: 6px solid transparent;
  width: 0;
  height: 0;
  border-bottom-color: #fff;
  position: absolute;
  top: -12px;
}
#cssmenu ul ul li.has-sub::after {
  border: 4px solid transparent;
  border-left-color: #9ea2a5;
  right:5px;
  top: 16px;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transition: -webkit-transform 0.2s ease, right 0.2s ease;
}
#cssmenu ul ul li.has-sub:hover::after {
  border-left-color: #fff;
  right: -5px;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

@media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: auto;
  }
  #cssmenu ul {
    width: auto;
  }
  #cssmenu .open {
       background: #333535f2;
    height: 100vh;
    overflow: auto;
    margin-bottom: 30px;
}
  #cssmenu .submenuArrow,
  #cssmenu #indicatorContainer {
    display: none;
  }
  #cssmenu > ul {
    height: auto;
    display: block;
	background-color:transparent;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu li,
  #cssmenu > ul > li {
    display: none;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu ul > li:hover > ul,
  #cssmenu ul ul > li:hover > ul {
    position: relative;
    left: auto;
    top: auto;
    opacity: 1;
    padding-left: 0;
  }
  #cssmenu ul .has-sub::after {
    display: none;
  }
  #cssmenu ul li a {
    padding: 12px 20px;
  }
  #cssmenu ul ul li a {
    border: 0;
    background: none;
    width: auto;
    padding: 8px 35px;
	color:#fff;
  }
  #cssmenu ul ul li:hover > a {
    background: none;
    color: #8c9195;
  }
  #cssmenu ul ul ul a {
    padding: 8px 50px;
  }
  #cssmenu ul ul ul ul a {
    padding: 8px 65px;
  }
  #cssmenu ul ul ul ul ul a {
    padding: 8px 80px;
  }
  #cssmenu ul ul ul ul ul ul a {
    padding: 8px 95px;
  }
  #cssmenu > ul > #menu-button {
    display: block;
    cursor: pointer;
  }
  #cssmenu #menu-button > a {
    padding: 14px 20px;
  }
  #cssmenu ul.open li,
  #cssmenu > ul.open > li {
    display: block;
  }
  /*customize code for mobile start */
  #cssmenu > ul.open > li ul{
    display: none;
  }
  #cssmenu > ul.open > li:hover ul{
    display: block;
  }
  /*customize code for mobile end */
  #cssmenu > ul.open > li#menu-button > a {
    color: #fff;
    border-bottom: 1px solid rgba(150, 150, 150, 0.1);
  }
  #cssmenu #menu-button::after {
    display: block;
    content: '';
    position: absolute;
    height: 7px;
    width: 22px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    right: 20px;
    top: 15px;
  }
  #cssmenu #menu-button::before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #fff;
    right: 20px;
    top: 25px;
  }
  #cssmenu ul.open #menu-button::after,
  #cssmenu ul.open #menu-button::before {
    border-color: #fff;
  }
}

/*=================== END TOP MENU =======================*/
/*=================== START BANNER =======================*/
.banner{ background-color:#FFF; box-sizing:border-box; position:relative; margin:0px 0px;}
.carousel-caption {
    background-color:rgba(20, 147, 107, 0.68);
    bottom:0%;
    font-family: ralewayregular;
    font-size:15px;
    left: 0;
    margin: 0 auto;
    padding:8px;
    right: 0;
    width:100%;
	text-align: left;
}
/*=================== END BANNER =======================*/
/*TOP NAV SECTION*/
.flag {
    /* background-image: url("../images/flag.png"); */
    background-position: 80px center;
    background-repeat: no-repeat;
    min-height: 28px;
}
.dropdown > a:after {
   content: "\f0d7";
   font-family: "FontAwesome";
    margin-left: 6px;
}
.home > a::after {
    content: "\f015";
    font-family: "FontAwesome";
}
.top-nav {
	background-color: #fff;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.32), 0 1px 6px 0 rgba(0, 0, 0, 0) !important;
	padding:0px 0px;
	z-index: 999999 !important;
	position: relative;
	border-bottom: 0px; 
}
.top-nav .time {
	float: left;
	font-size: 12px;
	color: #000;
	text-decoration: none;
	padding-top:4px;
}
.top-nav .time i {
	font-size: 13px;
}
.top-nav ul {
	margin: 0px;
	padding:2px 0px;
}
.top-nav li {
	list-style-type: none;
	font-size:12px;
	text-align:right;
	padding-right:3px;
	padding-left:3px;
	display: inline-block !important;
}
.top-nav li:nth-child(1) {
	border-right: solid 1px #898787;
}
.top-nav li:nth-child(2) {
	border-right: solid 1px #898787;
}
.top-nav li:nth-child(3) a{
	border-right:none; color:#D60600; font-weight:bold;
}
.top-nav li:nth-child(4) {
	padding-left:0px;
	padding-right:0px;
}
.top-nav li:nth-child(5) {
	padding-left:0px;
	padding-right:0px;
}
.top-nav li:nth-child(6) {
	padding-left:0px;
	padding-right:0px;
}
.top-nav li:nth-child(7) {
	padding-left:0px;
	padding-right:0px;
}
.top-nav li:nth-child(8) {
	padding-left:0px;
	padding-right:0px;
}
.top-nav li:nth-child(9) {
	padding-left:0px;
	padding-right:0px;
}
.top-nav li:nth-child(10) {
	padding-left: 0px;
	padding-right:0px;
}
.top-nav li a {
	color: #000000;
}
.top-nav li a:hover {
	text-decoration: none;
}
.top-nav .btn-xs {
	padding: 2px 2px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 0px;
	border: solid 1px;
	background-color: #fff;
	color: #000; cursor:pointer;
}
.top-nav .btn-block {
	padding: 2px 7px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 0px;
	border: solid 1px;
	background-color: #000;
	color: #fff; cursor:pointer;
}
.top-nav .btn-green {
	padding: 4px 7px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 0px;
	border: solid 1px;
	background-color:#f46b4a;
	color: #fff; cursor:pointer;
} 
.top-nav .btn-red {
	padding: 4px 7px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 0px;
	border: solid 1px;
	background-color:#961614;
	color: #fff; cursor:pointer;
} 
.top-nav .input-sm {
	height: 25px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 0px;
	display: inline-block !important;
}

.g-l{ background:url(../images/g-l-bg.jpg) no-repeat fixed; padding:70px; color:#FFF; font-family:oswald_regularregular; font-size:30px; text-align:center;}
.g-li li{ list-style:none; float:left; padding:50px 20px 20px 20px;}
/*=================== Start Budget =======================*/

.s-main{ padding:0px 7px; margin-bottom:12px;}

.maintitleh1 {
    margin: 0 auto;
    text-align: center;
}

.maintitleh1 h1 {
    border-bottom: medium none;
   
    color: #4c4c4c !important;
    display: inline-block;
    font-size: 19px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 10px;
    padding: 0 20px;
    position: relative;
    text-transform: uppercase;
}
.design-comp {
    font-size: 13px;
    padding-left: 5px;
    padding-top: 16px;
}
/*=================== End Budget  =======================*/
.o-l {
    background: url(../images/o-2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.citizen {
    padding: 15px 0 35px 0;
    text-align: center;
}
.circle {
    margin: 0 auto;
    padding-left: 0;
    position: relative;
    text-align: center;
}
.circle li {
    background: none repeat scroll 0 0 #fff;
    border: 0px solid #303131;
    box-shadow: 0px 15px 14px -20px #111;
    float: left;
    height: 130px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
    width: 131px;
    border: 1px solid #ddd;
    margin-bottom: 25px;
    border-radius: 20px;
}
.circle li:last-child {
    margin-right: 0;
}
.circle li a {
    color: #333;
    display: block;
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%;
}
.circle i {
    font-size: 40px;
    height: 60px;
    left: 0;
    line-height: 60px;
    text-align: center;
    padding-top: 20px;
    transition: all 400ms linear 0s;
    width: 100%;
}
.design-comp img {
    height: 25px;
}
.sub-title {
    font-size: 15px;
}
.circle a:hover {
    text-decoration: none;
}
.blue {
    color: #375782;
}
.sky {
    color: #22bcef;
}
.yellow {
    color: #ffb422;
}
.teal {
    color: #00b499;
}
.red {
    color: #bc27d6;
}
.org {
    color: #eb5427;
}
.green {
    color: #42ae42;
}
.ca-main {
    font-size: 14px;
    height: 65px;
    left: 50%;
    margin-left: -60px;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    top: 70px;
    width: 126px;
}
.ca-sub {
    color: #000;
    font-size: 14px;
    height: 80px;
    left: 50%;
    margin-left: -70px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 70px;
    width: 142px;
}
.circle li:hover {
    background: none repeat scroll 0 0 #f7f7f7;
    border-color: #fff;
    box-shadow: 0 45px 60px -50px #000000;
    transform: rotate(360deg);
}
.circle li:hover i {
    color: #555;
    font-size: 50px;
}
.circle li:hover .ca-main {
    display: none;
}
.circle li:hover .ca-sub {
    opacity: 0.8;
}
@media (max-width: 640px) {
.circle li {
    border-radius: 0;
    height: 134px;
    margin-right: 0;
    width: 48%;
}
.circle {
    padding-left: 5px;
}
}


/*=================== Start Footer  =======================*/
.footer-main{ background:#323a56; padding:30px 0px;}
.f-pad{ padding:10px;}
.f-pad h1{ font-family:oswald_regularregular; font-size:26px; color:#FFB80A; letter-spacing:2px;}

.f-pad ul{ padding:0px;}
.f-pad ul li{ list-style:none;}
.f-pad ul li a{ color:#333; display:block; padding:5px;}
.f-pad ul li a:hover{ color:#0B567E; padding:5px 5px 5px 7px; text-decoration:none;}


.important-links{ margin-top:20px;}
.important-links h3{ margin:10px 0px; color:#0B567E; text-align:center; font-size:29px; font-family:oswald_regularregular;}
.footer-menu {
    background: #696c79;
    width: 100%;
    padding: 10px 0;
    margin-top: 50px;
}
.footer-menu .LinkFooter a {
    color: rgb(255,255,255);
    font-size: 13px;
    border-right: 1px solid #ddddddd1;
    padding-right: 9px;
}



#carousel2{ padding:10px 30px;}
#carousel2 .item {
	float:left;
	margin-right:20px;
	padding:0px;
	background-color:#fff;
}

#carousel2 .left-nav-btn, #carousel2 .right-nav-btn {
	position:absolute;
	width:30px;
	height:37px;
	top:135px;
	cursor:pointer;
	opacity: 0.8;
	background:transparent url('../images/arrows.png') top left no-repeat;
	-webkit-transition:opacity 0.2s linear;
  	-moz-transition:opacity 0.2s linear;
  	-o-transition:opacity 0.2s linear;
  	transition:opacity 0.2s linear;
}

#carousel2 .left-nav-btn {
	left:5px;
}

#carousel2 .right-nav-btn {
	right:5px;
	background-position: top right;
}

.left-nav-btn:hover, .right-nav-btn:hover {
	opacity: 1;
}

.footer {
    background-color: #ffffff;
    padding-bottom: 5px;
    padding-top: 10px;
}
.footer-head h5 {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}
.hours_links {
    padding-left: 18px;
}
.hours_links li a {
    color:rgba(255, 255, 255, 0.87);
    font-size: 13px;
    line-height: 2;
}
.footer-head ul {
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
}
.LinkFooter {
    color: #333;
    font-size: 0.9em;
    text-decoration: none;
}
.LinkFooter a {
    color: #333;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}
.LinkFooter a:hover {
    color: #a8282c;
    text-decoration: none;
}
.footerText, .copyright {
    color: #333;
    font-size: 0.8em;
    margin-left: 5px;
    margin-top: 10px;
    text-decoration: none;
}
.rightFooter {
    font-size: 0.8em;
    text-align: right;
    text-decoration: none;
}
.visitor, .updated {
    color: #000;
    margin-bottom: 10px;
    text-decoration: none;
    margin-top: 26px;
    font-size: 13px;
    font-weight: 700;
}
.black {
    color: #333;
    text-decoration: none;
}
.fo_sz2 img {
    height: 14px;
}
/*=================== End Footer  =======================*/

ul.social-network {
    background-color: #fff;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 6px #393939;
    display: inline-block;
    list-style: outside none none;
    margin-bottom: 15px;
    margin-left: 0;
    padding: 8px;
    position: fixed;
    top: 30%;
    z-index: 99999;
	right:0px;
}
ul.social-network li {
    margin: 4px 0;
}
.social-network a.icoRss:hover {
    background-color: #f56505;
}
.social-network a.icoFacebook:hover {
    background-color: #3b5998;
}
.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}
.social-network a.icoGoogle:hover {
    background-color: #bd3518;
}
.social-network a.icoVimeo:hover {
    background-color: #0590b8;
}
.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i, .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color: #fff;
}
a.socialIcon:hover, .socialHoverClass {
    color: #44bcdd;
}
.social-circle li a {
    border: 1px solid #fff;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 40px;
}
.social-circle li i {
    line-height: 40px;
    margin: 0;
    text-align: center;
}
.social-circle li a:hover i, .triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s ease 0s;
}
.social-circle i {
    color: #fff;
    transition: all 0.8s ease 0s;
}
.icoFacebook {
    background-color: #2f4c88;
}
.icoTwitter {
    background-color: #22bcef;
}
.icoRss {
    background-color: #e05b03;
}
.icoGoogle {
    background-color: #bf0404;
}
.icoLinkedin {
    background-color: #036da1;
}


/*====================== Start Inner ======================*/
.inner{ border-right:1px solid #e6e6e6; padding:10px 10px; margin-left:-15px; min-height:395px;}
.gallery {
    margin-top:0px;
}
.gallery ul {
    margin: 0;
    padding: 0;
}
.gallery ul li {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 3px #a3a3a3;
    float: left;
    list-style: outside none none;
    margin-top:4px;
    padding: 1px;
    position: relative;
    width:100%;
}
.gallery ul li a {
    display: list-item;
    overflow: hidden;
}
.gallery ul li img {
    background-size: cover;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.gallery ul li:hover img {
    transform: scale(1.3);
    transition: all 0.3s ease 0s;
}
.enq-section {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 30px;
    
}
.gallery ul li h5 {
    background-color: rgba(0, 0, 0, 0.63);
    bottom: 5px;
    color: #fff;
    display: block;
    font-family: robotoregular;
    font-size: 17px;
    left: 5px;
    margin: 0;
    padding: 5px;
    position: absolute;
    width: 95.5%;
}
.gallery ul li:hover h5 {
    color: #fba714;
}
.gallery ul li i {
    bottom: 0;
    color: #fba714;
    padding: 10px 17px;
    position: absolute;
    right: 0;
}
.gallery ul li:hover i {
    color: #fff;
}

.inner-headding {
    background: rgba(0, 0, 0, 0) url("../images/border.jpg") repeat scroll 0 0;
    padding: 6px 4px 0;
    width: 100%;
}
.inner-headding span {
    background-color: #fff;
    color: #00845A;
    font-family: oswald_regularregular;
    margin-left: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
}
.inner-headding .bred {
    font-size: 13px;
    padding: 0;
}
.inner-headding .bred ol {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin: 0;
}
.selected {
    background-color: #f5f5f5;
}
/*====================== End Inner ======================*/


.glyphicon
{
    margin-right:4px !important; /*override*/
}

.pagination .glyphicon
{
    margin-right:0px !important; /*override*/
}

.pagination a
{
    color:#555;
}

.panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

.news-item
{
    padding:4px 4px;
    margin:0px;
    border-bottom:1px dotted #555; 
}
.notice .panel-heading {
    background-color: #e4e4e4;
    color: #000;
    font-family: ralewayregular;
    font-size: 18px;
    height: auto;
    overflow: hidden;
}
.news-body{ height:217px; overflow:hidden;}


.about-li {
    padding: 5px 0 0 20px;
}
.about-li li {
    background: rgba(0, 0, 0, 0) url("../images/foot_arw.png") no-repeat scroll 0 8px;
    list-style: outside none none;
    margin-bottom: 5px;
    padding-left: 20px;
}
.about-li li a {
    color: #2c2c2c;
    text-decoration: underline;
    transition: all 0.2s ease-in 0s;
}
.about-li li a:hover {
    color: #670001;
    padding-left: 2px;
}

/* ======================== Inner ==================== */
/*.inner-bg{ background-image:url(../images/inner-bg.jpg);}*/
.inner-top {
   
    color: #fff;
    height: 117px;
    margin-bottom: 15px;
    padding: 30px 0;
    position: relative;
    z-index: 9;
}
.inner-top:after {
    background:none repeat scroll 0 0 #282f48f7;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}
.inner-top h1 {
    font-size: 21px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    line-height: 2;
}
.breadcrumb {
    padding: 0px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #ffffff;
    border-radius: 0px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
.inner-top {
    box-shadow: 0 5px 5px -5px #333;
}
.inner-top .breed-crum-div .breadcrumb {
    background: none repeat scroll 0 0 transparent;
    margin-bottom: 0;
    text-align: right;
}
.inner-top .breed-crum-div .breadcrumb a {
    color: #eddf6c;
}
.inner-top .breed-crum-div .breadcrumb li:nth-child(2n) {
    display: none;
}
.inner-top .breadcrumb > .active {
    color: #fff;
}

.main-content.innerpage .container {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
    margin-top: -32px;
    min-height: 250px;
    padding-bottom: 19px;
    padding-top: 19px;
    position: relative;
    z-index: 9;
}
.small-hd {
    text-transform: capitalize;
}
.main-content.innerpage h3 {
    border-left: 4px solid #f2664d;
    color:#f2654e;
    font-family: oswald_regularregular;
    font-weight: normal;
    margin-top: 0;
    padding: 8px 10px;
}
.left-img {
    border: 2px solid #dadada;
    float: left;
    margin-bottom: 10px;
    margin-right: 15px;
    padding: 4px;
}
.right-img {
    border: 2px solid #dadada;
    float: right;
    margin-bottom: 10px;
    margin-left: 15px;
    padding: 4px;
}
.main-content h5 {
    border-bottom: 1px solid #cccccc;
    padding: 0 0 10px;
    position: relative;
	font-size:16px;
	font-family:oswald_regularregular;
}
.main-content h5:before {
    background-color: #0B567E;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    margin-bottom: -1.5px;
    position: absolute;
    width: 10%;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 14px;
}
.gallery li a {
    box-shadow: 7px 7px 10px #90909000 !important;
}
.contact-info {
    list-style: none;
    padding-left: 5px;
}
.contact-info li {
    font-size: 16px;
    padding: 6px 0px;
}
.list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.contact-info li i {
    background: #607D8B;
    width: 45px;
    height: 45px;
    color: #fff;
    text-align: center;
    align-items: center;
    /* display: flex; */
    justify-content: center;
    line-height: 3;
    border-radius: 50px;
    margin-right: 14px;
}


.list li {
    margin-bottom: 4px;
    padding-left: 15px;
}
.list li a {
    color: #333;
}
.list li:before {
    color: #9F5900;
    content: "";
    font-family: "FontAwesome";
    font-size: 19px;
    margin-left: -15px;
    margin-right: 6px;
}
.table2 th, .table th {
    background-color: #35be7a;
    color: #fff;
}
.table-responsive .table2 tr:first-child {
    background: none repeat scroll 0 0 #26a69a;
    color: #ffffff;
}
.table-responsive .table2 tr .gridheader, .table-responsive .table2 tr .gridrow {
    font-family: "Roboto Condensed",sans-serif;
    font-size: 14px !important;
    font-weight: normal !important;
}
.table-responsive .table2 tr .gridrow {
    font-family: "Open Sans",sans-serif !important;
}

.click-div {
    background-color: #fbf8e2;
    border: 1px solid #cdc899;
    border-radius: 8px;
    box-shadow: 0 0 5px #dddddd;
    float: left;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 27px;
    padding: 7px 42px;
    text-align: center;
    text-decoration: none;
    width:85%;
}
.click-div-a a {
    color: #00f;
    float: left;
    font: bold 12px Verdana,Geneva,sans-serif;
    margin-bottom: 15px;
    text-align: center;
    text-decoration:underline ;
    width: 50%;
}
.suport {
    background: none repeat scroll 0 0 #fbf8e2;
    border: 1px solid #cdc899;
    border-radius: 5px;
    color: #993D00;
    font: bold 22px "Trebuchet MS";
    margin: 0 auto;
    padding: 8px;
    width:50%;
	text-align:center;
}
.main-content input[type="file"] {
    border: 1px solid #ccc;
    font-size: 10px;
    padding: 4px 2px;
}
.btn{ border-radius:0px;}
.form-control{border-radius:0px;}
.radio-btn {
    border: 1px solid #ccc;
    height: 40px;
    padding: 6px 20px;
	display:block;
}