
@{
    ViewBag.Title = "Contact_US";
}

<section class="inner-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                <h1 class="inn-title">CONTACT US</h1>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>

<section id="main-content" class="main-content innerpage">
    <div class="container" id="content">
        <div class="bar-camp">
            <div class="breed-crum-div">
                <ol class="breadcrumb">
                    <li><a href="index.html" class="none external">Home</a></li>
                    <li class="active">Contact Us</li>
                </ol>
            </div>
        </div>
        <div class="contact-form">
            <div class="row">
                <div class="col-sm-6">
                    <h4> Lucknow Office</h4>
                    <ul class="contact-info">
                        <li> State Council for Education Research and Training (SCERT) UP</li>
                        <li><i class="fa fa-map-marker"></i> JBTC Campus, Nishat Ganj, Lucknow, Uttar Pradesh 226007</li>
                        <li><i class="fa fa-phone"></i> 0522-2780385 , 0522-2780505 </li>
                        <li><i class="fa fa-fax"></i>  0522-2781125  </li>
                        <li><i class="fa fa-mail-forward"></i> <a href="mailto:dscertup@gmail.com">dscertup@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="enq-section">
                        <form method="POST" action="#" name="contactform" id="contactform">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Name <span>*</span></label>
                                        <input name="name" type="text" placeholder="Enter Name" class="form-control" required="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">E-mail <span>*</span></label>
                                        <input name="email" type="text" placeholder="Enter E-mail address" class="form-control" required="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phone">Mobile Number <span>*</span></label>
                                        <input name="phone" type="text" placeholder="Enter E-mail address" class="form-control" required="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="subject">Subject <span>*</span></label>
                                        <input name="subject" type="text" placeholder="Enter Subject" class="form-control" required="">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="subject">Message <span>*</span></label>
                                        <textarea name="message" cols="40" rows="6" class="form-control" placeholder="Type your message here..."></textarea>
                                    </div>
                                    <div class="text-right">
                                        <input type="submit" class="btn btn-dark" id="submit" name="submit">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact row">
            <div class="col-sm-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3559.197342065026!2d80.95252471504392!3d26.86547058314796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399bfd6de48289ed%3A0x62b7502ed67d2193!2sState+Council+for+Education+Research+and+Training+(SCERT)+UP!5e0!3m2!1sen!2sin!4v1544494447920" width="100%" height="300"></iframe>
            </div>
        </div>


    </div>
</section>

