
@{
    ViewBag.Title = "In_services";
}

<section class="inner-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                <h1 class="inn-title">In Service</h1>
            </div>
        </div>
    </div>
</section>

<div class="clearfix"></div>

<section id="main-content" class="main-content innerpage">
    <div class="container" id="content">
        <div class="bar-camp">
            <div class="breed-crum-div">
                <ol class="breadcrumb">
                    <li><a href="index.html" class="none external">Home</a></li>
                    <li>About Us</li>
                    <li>Teacher Training</li>
                    <li class="active">In Service</li>
                </ol>
            </div>
        </div>

        <!-- InstanceBeginEditable name="content-area" -->
        <h3>In-Service Teacher Training </h3>
        <p>
            State Council of Educational Research and Training (SCERT), Uttar Pradesh, Lucknow its units and District Education and Training Institutes (DIET) organize various training programs and workshops for capacity building of educational administrators, DIET faculty, Principal/Headmasters of Secondary, Upper Primary and Primary Schools. Trainings are mainly subject-based and skill-based.  Through these trainings and workshops participants are oriented and trained on new education policies and programmes, educational pedagogy and classroom management. District level master trainers are trained at state level. Further district level master trainers provide training to block level master trainers in their respective districts. These master trainers provide training to teachers. Trainings are conducted on the basis of training modules. Main trainings under in-service training programmes are as follows:
            <ul class="list">
                <li>Capacity Building Training
                <li>Leadership Training For Officials And Principals
                <li>Subject-based Trainings (Science, Mathematics, English, Hindi, Sanskrit, Social Science)
                <li>Need-based Trainings
                <li>Early Grade Reading (EGR) (Primary level)
                <li>Early numeracy (Primary level)
                <li>Continuous and Comprehensive Evaluation Training (Primary and upper primary level)
                <li>Health and Hygiene Training (Upper Primary level)
                <li>Inclusive Education Training (Primary And Upper Primary level)
                <li>Online Course Enhancing Teacher Education Through OER (DIETs Faculties, Teachers and BTC Trainee)
                <li>Training of Madrassa/Maktab Teachers
                <li>Master Trainer’s Training on Environmental Studies
                <li>Art/Craft, Puppetry and Music Training
                <li>Yoga Training</li>
            </ul>
        </p>
        <h3>Development of Training modules</h3>
        <p>
            SCERT designs and develops training modules and materials for various teacher trainings. Training modules are prepared by experts from national level institutions, reputed institutions and NGOs, teachers and SCERT faculty members. Field testing is done before finalization of modules. Modules are updated regularly and new strategies and teaching techniques are included in modules on time to time or whenever needed. Following are the main modules prepared in past years: (click here)
            <ul class="list">
                <li>Continuous and Comprehensive Evaluation
                <li>Health and Hygiene
                <li>Inclusive Education
                <li>Early Numeracy
                <li>Science (class 6, 7, 8)
                <li>Mathematics (Class 6, 7, 8)
                <li>Environmental Studies
                <li>Social Science
                <li>CCE based Early Grade Reading Development
                <li>Art/Craft, Music and Puppetry
                <li>Yoga
                <li>Early Grade Reading (English)
                <li>Early Grade Reading (Hindi)
                <li>Foundation Training for DIET Lecturers
                <li>Ethics and Values</li>
            </ul>
        </p>
        <!-- InstanceEndEditable -->
    </div>
</section>

