
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <div data-ride="carousel" class="carousel slide" id="carousel-example-generic">
        <div role="listbox" class="carousel-inner">
            <div class="item active"> <img alt="slider" src="~/assets/images/slider-bg2.jpg"></div>
            <div class="item"> <img alt="slider" src="~/assets/images/banner1.jpg"></div>
        </div>

        <!-- Controls -->
        <a data-slide="prev" role="button" href="#carousel-example-generic" class="left carousel-control"> <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span> <span class="sr-only">Previous</span> </a> <a data-slide="next" role="button" href="#carousel-example-generic" class="right carousel-control"> <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span> <span class="sr-only">Next</span> </a>
    </div>
</div>
<div class="ticker_to">
    <div class="col-md-2 notice"><div class="row">Notice</div></div>
    <div class="col-md-10">
        <marquee scrollamount="4" behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
            <img src="~/assets/images/new_red.gif" alt=""> WELCOME TO State Council of Educational Research and Training Uttar Pradesh
        </marquee>
    </div>
</div>

<div class="clearfix"></div>
<div class="container-fluid">
    <div class="container container-bg">
        <div class="row">
            <div class="col-md-9">
                <div class="border2">
                    <div class="about" id="content">
                        <h2>State Council of Educational Research and Training, U.P.</h2>
                        <p>State Council of Educational Research and Training (SCERT), Uttar Pradesh was established in 1981 for development of curriculum and textbooks for school education in the State, teacher's training, educational evaluation, educational research and innovation in teaching & learning. Main functions of SCERT, UP are</p>
                        <ul>
                            <li>Organizing in-service and pre-service training programmes for elementary teachers.</li>
                            <li>Developing syllabus, text books, teacher's guide and other useful materials for primary & upper primary classes.</li>
                            <li>Conducting researches, surveys and innovative programmes.</li>
                            <li>Capacity building of teacher educators and educational administrators.</li>
                            <li>Organizing Teacher Eligibility Test (TET) in State.</li>
                            <li>Granting affiliation to private institutes (recognised by NCTE) for running BTC / NTT course.</li>
                        </ul>
                        <p class="text-02"><a href="about-us.html" class="btn btn-default a-btn"> Read more...</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 main-lead2">
                <div class="border leaders">
                    <div class="col-lg-4">
                        <div class="row"><img class="img-responsive border" src="~/assets/images/dir.jpg" /></div>
                    </div>
                    <div class="col-lg-8 l-d">
                        <h3>Dr. Sarvendra Vikram Bahadur Singh</h3>
                        <p><span>Director, </span>SCERTUP</p>
                        <!--a class="btn btn-default btn-xs" href="dir.html">Read more...</a-->
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="border leaders">
                    <div class="col-lg-4">
                        <div class="row"><img class="img-responsive border" src="~/assets/images/eo.jpg" /></div>
                    </div>
                    <div class="col-lg-8 l-d">
                        <h3>Shri Ajay Kumar Singh</h3>
                        <p><span>Joint Director</span>SCERTUP</p>
                        <a class="btn btn-default btn-xs" href="#">Read more...</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 left-link">
                    <div><i aria-hidden="true" class="fa fa-graduation-cap"></i> <span>Government Order</span></div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 left-link">
                    <div><i aria-hidden="true" class="fa fa-graduation-cap"></i> <span>RESEARCH SUPPORT</span></div>
                </div>
                <!-- <div class="clearfix"></div> -->
                <!-- <div class="col-md-12 left-link-r"> -->
                <!-- <div><i aria-hidden="true" class="fa fa-graduation-cap"></i> <span>TEACHER'S EDUCATION</span></div> -->
                <!-- </div> -->
                <!-- <div class="clearfix"></div> -->
                <!-- <div class="col-md-12 left-link-r"> -->
                <!-- <div><i aria-hidden="true" class="fa fa-graduation-cap"></i> <span>Educational Materials</span></div> -->
                <!-- </div> -->
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

    <div class="container">
        <section class="our-links-sec">
            <div class="row">
                <div class="col-md-9">
                    <h2 class="our-link">Our Links</h2>
                    <section class="citizen">
                        <ul class=" circle">
                            <li>
                                <a marked="1" href="e-books.html" class="external">
                                    <i class="fa fa-book  red"></i>
                                    <h2 class="sub-title">E-Books</h2>
                                </a>
                            </li>
                            <li>
                                <a marked="1" href="btc.html" class="external">
                                    <i class="fa fa-home blue"></i>
                                    <h2 class="sub-title">Pvt. Institutions</h2>
                                </a>
                            </li>

                            <li>
                                <a marked="1" href="photo-gallery.html" class="external">
                                    <i class="fa fa-file-image-o org"></i>
                                    <h2 class="sub-title">Gallery</h2>
                                </a>
                            </li>
                            <li>
                                <a marked="1" href="research-support.html" class="external">
                                    <i class="fa fa-users sky"></i>
                                    <h2 class="sub-title">Our faculty</h2>
                                </a>
                            </li>
                            <li>
                                <a marked="1" href="training-module.html" class="external">
                                    <i class="fa fa-file-o green"></i>
                                    <h2 class="sub-title">Training Module</h2>
                                </a>
                            </li>
                            <li>
                                <a marked="1" href="pre-service.html" class="external">
                                    <i class="fa fa-cogs yellow"></i>
                                    <h2 class="sub-title">Pre Service</h2>
                                </a>
                            </li>
                            <li>
                                <a marked="1" href="faq.html" class="external">
                                    <i class="fa fa-building yellow"></i>
                                    <h2 class="sub-title">FAQ</h2>
                                </a>
                            </li>
                            <li>
                                <a marked="1" href="ttms.html" class="external">
                                    <i class="fa fa-user teal"></i>
                                    <h2 class="sub-title">T.T.M.S.</h2>
                                </a>
                            </li>
                            <li>
                                <a marked="1" href="rti.html" class="external">
                                    <i class="fa fa-list-alt red"></i>
                                    <h2 class="sub-title">RTI</h2>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </section>

                </div>
                <div class="col-md-3">
                    <div class="border news">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                News & Announcements
                                <div class="play-pause"><span> <b style="display: inline;" id="stop"><i class="fa fa-pause btn btn-default btn-sm"></i> </b> <b id="play" style="display: none;"> <i class="fa fa-play-circle btn btn-default btn-sm"></i> </b> </span></div>
                            </div>
                            <div class="panel-body">
                                <ul class="news-panel" id="ticker1">
                                    <li class="news-item">
                                        <a class="adtext" href="#">State Council of Educational Research and Training Uttar Pradesh. <span class="dtype">[ Announcements ]</span></a> <i class="fa fa-file-pdf-o"></i>
                                        <p class="ndate"> Date : 01/12/2018</p>
                                    </li>
                                    <li class="news-item">
                                        <a class="adtext" href="#">State Council of Educational Research and Training Uttar Pradesh. <span class="dtype">[ Announcements ]</span></a> <i class="fa fa-file-pdf-o"></i>
                                        <p class="ndate"> Date : 01/12/2018</p>
                                    </li>
                                    <li class="news-item">
                                        <a class="adtext" href="#">State Council of Educational Research and Training Uttar Pradesh. <span class="dtype">[ Announcements ]</span></a> <i class="fa fa-file-pdf-o"></i>
                                        <p class="ndate"> Date : 01/12/2018</p>
                                    </li>
                                    <li class="news-item">
                                        <a class="adtext" href="#">State Council of Educational Research and Training Uttar Pradesh. <span class="dtype">[ Announcements ]</span></a> <i class="fa fa-file-pdf-o"></i>
                                        <p class="ndate"> Date : 01/12/2018</p>
                                    </li>
                                    <li class="news-item">
                                        <a class="adtext" href="#">State Council of Educational Research and Training Uttar Pradesh. <span class="dtype">[ Announcements ]</span></a> <i class="fa fa-file-pdf-o"></i>
                                        <p class="ndate"> Date : 01/12/2018</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="important-links">
                    <div class="maintitleh1">
                        <h1>Important Website</h1>
                    </div>
                    <div id="carousel2">
                        <div class="item"><a href="http://mhrd.gov.in/" target="_blank"><img src="~/assets/images/f-1.jpg" /></a></div>
                        <div class="item"><a href="http://www.ncte-india.org/" target="_blank"><img src="~/assets/images/f-2.jpg" /></a></div>
                        <div class="item"><a href="http://ncert.nic.in/" target="_blank"><img src="~/assets/images/f-3.jpg" /></a></div>
                        <div class="item"><a href="http://www.examregulatoryauthorityup.in/" target="_blank"><img src="~/assets/images/f-4.jpg" /></a></div>
                        <div class="item"><a href="#"><img src="~/assets/images/f-5.jpg" /></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(window).scroll(function () {
        var height = $(window).scrollTop();
        if (height > 150) {
            $(".top-nav").addClass("pwdFxd");
        }
        if (height < 150) {
            $(".top-nav").removeClass("pwdFxd");
        }
    });


    $(document).ready(function () {
        $('#carouse').waltzer({
            scroll: 1, auto: false,
            leftNavBtn: 'left-nav-btn',
            rightNavBtn: 'right-nav-btn'
        });
    });

</script>