
@{
    ViewBag.Title = "Our_faculty";
}

<section class="inner-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                <h1 class="inn-title">OUR FACULTY</h1>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<section id="main-content" class="main-content innerpage">
    <div class="container" id="content">
        <div class="bar-camp">
            <div class="breed-crum-div">
                <ol class="breadcrumb">
                    <li><a href="index.html" class="none external">Home</a></li>
                    <li>About Us</li>
                    <li class="active">Our faculty</li>
                </ol>
            </div>
        </div>
        <!-- InstanceBeginEditable name="content-area" -->
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>क्र0सं0</th>
                    <th>नाम</th>
                    <th>पदनाम </th>
                    <th>कार्यभार ग्रहण की तिथि </th>
                    <th>मोबाइल नं0 </th>
                    <th>ई-मेल </th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>डाॅ0 सर्वेंद्र विक्रम बहादुर सिंह</td>
                    <td> निदेशक</td>
                    <td></td>
                    <td>8765959633</td>
                    <td></td>
                </tr>
                <tr>

                <tr>
                    <td>2.</td>
                    <td>श्री विष्णु श्याम द्विवेदी</td>
                    <td> उप शिक्षा निदेशक</td>
                    <td></td>
                    <td>8756614212</td>
                    <td>vishnushyam45@gmail.com</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>श्री अजय कुमार सिंह</td>
                    <td>संयुक्त शिक्षा निदेशक (एस0एस0ए0)</td>
                    <td>25-10-2013</td>
                    <td>9415646640</td>
                    <td>zeroajay@gmail.com</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>श्रीमती दीपा तिवारी</td>
                    <td>सहायक शिक्षा निदेशक</td>
                    <td>10-08-2016</td>
                    <td>7376270401</td>
                    <td>deepatiwari.scertup@gmail.com</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>श्री मो0 मुशीर जै़दी</td>
                    <td>वित्त एवं लेखाधिकारी</td>
                    <td>06-09-2016</td>
                    <td>9026347427 </td>
                    <td>dscertup@gmail.com</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>श्रीमती पुष्पा रंजन</td>
                    <td>सहायक उप शिक्षा निदेशक प्रशिक्षण (प्रशासनिक अधिकारी)</td>
                    <td>14-08-2012</td>
                    <td>7376270411</td>
                    <td>push pradeep07@gmail.com</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>श्रीमती शिवानी</td>
                    <td>सहायक उप शिक्षा निदेशक</td>
                    <td>29-01-2009</td>
                    <td>9415443246</td>
                    <td>shivani.scertup@gmail.com</td>
                </tr>
                <tr>
                    <td>8.</td>
                    <td>श्री रामचन्द्रेश्वर दत्त बाजपेयी</td>
                    <td>सहायक उप शिक्षा निदेशक (जन सूचना अधिकारी)</td>
                    <td>05-07-2016 </td>
                    <td>7376270413</td>
                    <td>rcdbajpai70@gmail.com</td>
                </tr>
                <tr>

                <tr>
                    <td>9.</td>
                    <td>श्री रामचन्द्रेश्वर दत्त बाजपेयी</td>
                    <td>विधि अधिकारी-2</td>
                    <td></td>
                    <td>8318690399</td>
                    <td></td>
                </tr>
                <tr>
                    <td>10.</td>
                    <td>श्री प्रदीप वर्मा</td>
                    <td>विधि अधिकारी</td>
                    <td>30-06-2015</td>
                    <td>9453220096 </td>
                    <td>dscertup@gmail.com</td>
                </tr>
                <tr>
                    <td>11.</td>
                    <td>श्री रावेन्द्र सिंह बघेल</td>
                    <td>सहायक उप शिक्षा निदेशक</td>
                    <td>20-07-2017</td>
                    <td>9415952083</td>
                    <td>bagel.rav@gmail.com</td>
                </tr>
                <tr>
                    <td>12.</td>
                    <td>श्रीमती पूनम नौटियाल</td>
                    <td>शोध प्राध्यापक</td>
                    <td>17-07-2014</td>
                    <td>9839292707</td>
                    <td>p.nautiyaledu@gmail.com</td>
                </tr>
                <tr>
                    <td>13.</td>
                    <td>श्रीमती वत्सला पवार </td>
                    <td>शोध प्राध्यापक</td>
                    <td>20-07-2016</td>
                    <td>9453934701</td>
                    <td>vatsla05@gmail.com</td>
                </tr>
                <tr>
                    <td>14.</td>
                    <td>श्रीमती सुषुमलता पाल</td>
                    <td>शोध प्राध्यापक</td>
                    <td>04-01-2018</td>
                    <td>9450369180</td>
                    <td>sushum94521@gmail.com</td>
                </tr>
                <tr>
                    <td>15.</td>
                    <td>श्रीमती शुचि चतुर्वेदी</td>
                    <td>शोध प्राध्यापक</td>
                    <td>27-07-2018</td>
                    <td>9415332796</td>
                    <td>dscertup@gmail.com</td>
                </tr>
                <!--<tr>
                  <td>16.</td>
                  <td>श्रीमती मीनाक्षी यादव</td>
                  <td>प्रवक्ता  (शोध)</td>
                  <td>18-05-2012</td>
                  <td>9454186734</td>
                  <td>dscertup@gmail.com</td>
                  </tr>-->
                <tr>
                    <td>16.</td>
                    <td>डाॅ0 प्रदीप जायसवाल</td>
                    <td>प्रवक्ता  (शोध)</td>
                    <td>20-02-2018</td>
                    <td>9161342626</td>
                    <td>pradeepbhu007gmail.com</td>
                </tr>
                <tr>
                    <td>17.</td>
                    <td>कमल किशोर</td>
                    <td>प्रवक्ता  (शोध)</td>
                    <td>03-07-2019</td>
                    <td>9919834259 </td>
                    <td>hardoi.1981@gmail.com</td>
                </tr>
                <tr>
                    <td>18.</td>
                    <td>शिप्रा सिंह</td>
                    <td>प्रवक्ता  (शोध)</td>
                    <td>05-07-2019</td>
                    <td>7080127770 </td>
                    <td>sshipra757@gmail.com</td>
                </tr>
                <tr>
                    <td>19.</td>
                    <td>श्रीमती मीनाक्षी राय</td>
                    <td>प्रवक्ता  (शोध)</td>
                    <td>06-09-2019</td>
                    <td>7985928856 </td>
                    <td>changedway2407@gmail.com</td>
                </tr>

                <tr>
                    <td>20.</td>
                    <td>डाॅ0 मनीषा शुक्ला</td>
                    <td>प्रवक्ता  (शोध)</td>
                    <td>03-07-2020</td>
                    <td>9473605023 </td>
                    <td>manishashukla2626@gmail.com</td>
                </tr>
            </table>
        </div>
        <!-- InstanceEndEditable -->
    </div>
</section>
