
@{
    ViewBag.Title = "Photo_Gallery";
}

<section class="inner-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                <h1 class="inn-title">Gallery</h1>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>

<section id="main-content" class="main-content innerpage">
    <div class="container" id="content">
        <div class="bar-camp">
            <div class="breed-crum-div">
                <ol class="breadcrumb">
                    <li><a href="index.html" class="none external">Home</a></li>
                    <li class="active">Gallery</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class='list-group gallery'>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-15.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-15.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-16.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-16.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-17.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-17.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-18.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-18.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-24.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-24.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-25.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-25.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-26.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-26.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-27.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-27.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-7.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-7.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-8.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-8.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-9.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-9.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-10.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-10.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-11.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-11.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-28.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-28.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-29.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-29.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-30.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-30.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-31.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-31.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-32.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-32.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-33.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-33.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-34.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-34.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-35.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-35.jpg" /></a></li>

                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-1.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-1.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-2.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-2.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-3.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-3.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-4.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-4.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-5.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-5.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-6.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-6.jpg" /></a></li>

                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-12.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-12.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-13.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-13.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-14.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-14.jpg" /></a></li>

                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-19.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-19.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-20.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-20.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-21.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-21.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-22.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-22.jpg" /></a></li>
                <li><a class="thumbnail fancybox" rel="ligthbox" href="images/gallery/big/big-23.jpg"><img class="img-responsive" alt="" src="images/gallery/thm/thm-23.jpg" /></a></li>
            </div>
        </div>
        <!-- InstanceEndEditable -->
    </div>
</section>
