
@{
    ViewBag.Title = "pre_services";
}

<section class="inner-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                <h1 class="inn-title">PRE SERVICE</h1>
            </div>
        </div>
    </div>
</section>

<div class="clearfix"></div>

<section id="main-content" class="main-content innerpage">
    <div class="container" id="content">
        <div class="bar-camp">
            <div class="breed-crum-div">
                <ol class="breadcrumb">
                    <li><a href="index.html" class="none external">Home</a></li>
                    <li>About Us</li>
                    <li>Teacher Training</li>
                    <li class="active">Pre Service</li>
                </ol>
            </div>
        </div>

        <!-- InstanceBeginEditable name="content-area" -->
        <h3>Diploma in Elementary Education (D.El.Ed.)</h3>
        <p>
            <strong>Training Institute:</strong>
            <ol type="A">
                <li>Government Teacher Training Institute <a href="diet.html">(click here)</a></li>
                <li>(B)	Private D.El.Ed. Training Institute (Recognized by NCTE and affiliated by state Government)  <a href="btc.html">(click here)</a></li>
            </ol>
        </p>
        <p><strong>Eligibility:</strong> Candidate applying for D.El.Ed. training should be a resident of Uttar Pradesh, must have completed high school or equivalent, intermediate and equivalent from institutions recognised by Uttar Pradesh Secondary Education Board/CBSE and Graduation from UGC recognized college/university with at least 50% of marks. Candidates from Schedule Caste/Schedule Tribe/Other Backward class/differently abled  (divyang)/dependent of freedom fighter/ex-army personnel (Self) will be given relaxation of 5% in minimum marks. Other eligibilities viz. age, reservation, application fee etc. are decided by Government of UP.

        <p><strong>Duration of Course:</strong> This is two years course divided into four semesters.  Curriculum of the course is available on SCERT's website www.scertup.org.in.

        <p><strong>Selection Process:</strong> Applications are invited online. Selection is made on merit basis at district level. Norms for selection, application fee, selection process etc. are decided by Government of UP.

        <p><strong>Examination:</strong> At the end of every semester, external examination is conducted by Examination Regulatory Authority, UP, Allahabad and internal examination is conducted by the institution itself. </p>
        <h3>Certificate of Teaching [C.T. (Nursery)]:</h3>
        <p>
            <strong>Institute:</strong> Government Nursery Training College, Agra and Allahabad
            Eligibility: Candidate applying for C.T. (Nursery) must have completed graduation with atleast 50% marks from UGC recognized college/university. Candidates form schedule caste/scheduled tribe/other backward class/differently abled (divyang)/dependent of freedom fighter/ex-army personnel (self) will be given relaxation of 5% in minimum marks. Other eligibilities viz. age, reservation, application fee etc. are decided by Government of UP.

        <p><strong>Duration:</strong> Two years (2 years)

        <p><strong>Selection Process:</strong> Applications are invited online. Selection is made on merit basis at state level by a selection committee headed by Secretary, Examination Regulatory Authority, UP, Allahabad and Uttar Pradesh. Norms for selection, application fee, selection process etc. are decided by Government of UP.

        <p><strong>Examination:</strong> Examination is conducted by Secretary, Examination Regulatory Authority, UP, Allahabad.</p>
        <h3>Diploma in Physical Education  (D.P.Ed)</h3>
        <p><strong>Institute:</strong> Government Physical Training College, Rampur and Allahabad, College of Physical Education, Samoghpur-Jaunpur (Government Aided) & Christian College, Lucknow (Minority institution)
        <p><strong>Eligibility:</strong> Resident of Uttar Pradesh, who have completed Graduation from UGC recognized college/university with at least 50% of marks will be eligible. Candidates from schedule caste/schedule tribe/other backward class/other reserved categories will be given relaxation of 5% in minimum marks. Other eligibilities viz. age, reservation, application fee etc. are decided by Government of UP.
        <p><strong>Duration:</strong> Two years (2 years)
        <p><strong>Selection Process:</strong> Application are invited online. State level Selection is made by Secretary, Examination Regulatory Authority, Allahabad, Uttar Pradesh on merit basis and physical test. Norms for selection, application fee, selection process etc. are decided by Government of UP.
        <p><strong>Examination:</strong> Examination is conducted by Secretary, Examination Regulatory Authority, UP, Allahabad.</p>
        <h3>Nursery Teachers Training (NTT) (click here)</h3>
        <p><strong>Institute:</strong> Private institutions recognized by NCTE and affiliated by state Government
        <p><strong>Eligibility:</strong> Residents of Uttar Pradesh, who have completed Graduation from UGC recognized college/university with atleast 50% of marks. Candidates form schedule caste/scheduled tribe/other backward class/differently abled (divyang)/ dependent of freedom fighter/ ex-army personnel (self) will be given relaxation of 5% in minimum marks. Other eligibilities viz. age, reservation, application fee etc. are decided by Government of UP.
        <p><strong>Duration:</strong> Two years (2 years)
        <p><strong>Application/Selection Process:</strong> Applications are invited online. Selection is made on merit basis at state level by selection committee headed by Secretary, Examination Regulatory Authority, UP, Allahabad. Norms for selection, application fee, selection process etc. are decided by Government of UP.
        <p><strong>Examination:</strong> Examination is conducted by Secretary, Examination Regulatory Authority, UP, Allahabad.</p>
        <!-- InstanceEndEditable -->
    </div>
</section>

