@model List<scert_upMVC.Models.PvtCollege_Models>
@{
    ViewBag.Title = "pvt_institute";
}

<section class="inner-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                <h1 class="inn-title">Pvt. Institutions</h1>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>

<section id="main-content" class="main-content innerpage">
    <div class="container" id="content">
        <div class="bar-camp">
            <div class="breed-crum-div">
                <ol class="breadcrumb">
                    <li><a href="index.html" class="none external">Home</a></li>
                    <li>Unit</li>
                    <li class="active">Pvt. Institutions</li>
                </ol>
            </div>
        </div>
        <table class="table table-bordered table-striped" id="tbl">

            <tbody>
                <tr>
                    <th align="center"><strong>S.no.</strong></th>
                    <th>District Name</th>
                    <th>Institution Name </th>
                    <th>No. of Seats </th>
                </tr>

                @{
                    var count = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@count</td>
                        <td>@item.District</td>
                        <td>@item.Inst_Name</td>
                        <td>@item.Seats</td>
                    </tr>
                    count++;
                }
            </tbody>
        </table>

    </div>
</section>

